#DIV_5 {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: Varela, sans-serif;
    font-size: 14px;
    height: 984px;
    left: 0px;
    line-height: 20px;
    outline-color: rgb(51, 51, 51);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 1238px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 619px 492px;
    transform-origin: 619px 492px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: 14px / 20px Varela, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_5*/

#DIV_1 {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: Varela, sans-serif;
    font-size: 14px;
    height: 984px;
    left: 0px;
    line-height: 20px;
    outline-color: rgb(51, 51, 51);
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 1238px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 619px 492px;
    transform-origin: 619px 492px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: 14px / 20px Varela, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    font-family: Varela, sans-serif;
    font-size: 14px;
    line-height: 20px;
    outline-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: 14px / 20px Varela, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    font-family: Varela, sans-serif;
    font-size: 14px;
    line-height: 20px;
    outline-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: 14px / 20px Varela, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:before*/

#H1_2 {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    bottom: -157.44px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 54px;
    height: 62px;
    left: 0px;
    line-height: 44px;
    margin-bottom: 10px;
    margin-top: 20px;
    outline-color: rgba(0, 0, 0, 0.56);
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    top: 157.438px;
    width: 1238px;
    column-rule-color: rgba(0, 0, 0, 0.56);
    perspective-origin: 619px 31px;
    transform-origin: 619px 31px;
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 700 54px / 44px Varela, sans-serif;
    margin: 20px 0px 10px;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#H1_2*/

#H1_2:after {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 54px;
    line-height: 44px;
    outline-color: rgba(0, 0, 0, 0.56);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.56);
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 700 54px / 44px Varela, sans-serif;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#H1_2:after*/

#H1_2:before {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 54px;
    line-height: 44px;
    outline-color: rgba(0, 0, 0, 0.56);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.56);
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 700 54px / 44px Varela, sans-serif;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#H1_2:before*/

#SPAN_3, #SPAN_4 {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    bottom: -14px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 104px;
    left: 0px;
    line-height: 44px;
    outline-color: rgba(0, 0, 0, 0.56);
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    top: 14px;
    column-rule-color: rgba(0, 0, 0, 0.56);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 104px / 44px Varela, sans-serif;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#SPAN_3, #SPAN_4*/

#SPAN_3:after, #SPAN_4:after {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 104px;
    line-height: 44px;
    outline-color: rgba(0, 0, 0, 0.56);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.56);
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 104px / 44px Varela, sans-serif;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#SPAN_3:after, #SPAN_4:after*/

#SPAN_3:before, #SPAN_4:before {
    border-bottom-color: rgba(0, 0, 0, 0.56);
    border-left-color: rgba(0, 0, 0, 0.56);
    border-right-color: rgba(0, 0, 0, 0.56);
    border-top-color: rgba(0, 0, 0, 0.56);
    color: rgba(0, 0, 0, 0.56);
    font-family: Varela, sans-serif;
    font-size: 104px;
    line-height: 44px;
    outline-color: rgba(0, 0, 0, 0.56);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.56);
    text-decoration-color: rgba(0, 0, 0, 0.56);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.56);
    caret-color: rgba(0, 0, 0, 0.56);
    border: 0px none rgba(0, 0, 0, 0.56);
    border-top: 0px none rgba(0, 0, 0, 0.56);
    border-right: 0px none rgba(0, 0, 0, 0.56);
    border-bottom: 0px none rgba(0, 0, 0, 0.56);
    border-left: 0px none rgba(0, 0, 0, 0.56);
    border-color: rgba(0, 0, 0, 0.56);
    font: 104px / 44px Varela, sans-serif;
    outline: rgba(0, 0, 0, 0.56) none 0px;
}/*#SPAN_3:before, #SPAN_4:before*/